@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


.one{
    background-image: url('assets/one.jpg') !important;
}

.two{
    background-image: url('assets/two.jpg') !important;
}

.three{
    background-image: url('assets/three.jpg') !important;
}

.four{
    background-image: url('assets/four.jpg') !important;
}

.five{
    background-image: url('assets/five.jpg') !important;
}

.six{
    background-image: url('assets/six.jpg') !important;
}

.seven{
    background-image: url('assets/seven.jpg') !important;
}

.eight{
    background-image: url('assets/four.jpg') !important;
}